.article-post-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.post-wrapper{
    padding: 0px;
    margin: 30px 0px 30px 0px;
    border: 1px solid rgb(219,219,219);
    width: 615px;
}

.post-username{
    font-size: 14px;
    color: rgb(38,38,38);
    font-weight: 600;
    margin: 0px 0px 0px 14px !important;
    cursor: pointer
}

.post-user-wrapper{
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
    
}

.post-profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.post-img{
    object-fit: cover;
    width: 100%;
}

.post-icons-wrapper{
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
}

.post-icon{
    margin: 8px;
    font-size: 28px;
    cursor: pointer;
}

.post-userProfile-description-wrapper, .hashtag-wrapper, .post-likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    margin-bottom: 8px;
}

.post-userProfile-description-wrapper{
    margin-bottom: 2px;
}

.hashtag-wrapper{
    margin: 0px 0px 0px 10px;
}

.post-comments-wrapper{
    padding: 0px 16px;
    margin-bottom: 20px;
}

.likes-nmbr, .likes-txt{
    color: rgb(38,38,38);
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
   
}

.post-likes{
    margin-bottom: 8px;
}

.likes-txt, .post-description{
    padding-left: 4px;
    font-size: 14px;
}
.post-hashtag{
    padding: 0px 5px 8px 0px;  
    color: #00376b; 
    cursor: pointer;
}

.post-comments{
    padding-bottom: 4px;
}

.post-comment-input-btn-wrapper{
    border-top: 1px solid rgb(239,239,239);
    display: flex;
    flex-direction: row;
    align-items: center !important;
    height: 55px !important;
    
}

.post-comment-input{
    width: 100%;
    height: 40% !important;
    margin: 0px !important;
    border: 0px !important;
    background-color: transparent;
    border-radius: 0px !important;
    box-shadow: none !important;
    resize: none !important;
    padding: 16px !important;
}



.post-comment-input:focus{
    outline: none !important;
}

.post-comment-btn{
    color: #0095f6 !important;
    border: 0px solid transparent !important;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    margin-right: 16px;
    letter-spacing:0.2px;
    
}

.post-comment-btn:disabled, .post-comment-btn[disabled]{
    cursor:initial;
    color: #0094f66b !important;
}

.post-author-comment{
    display: flex;
    flex-direction: row;
}

.post-usr-commentd{
    color: #262626;
    font-weight: bold;
    padding-right: 4px;
}

.post-author{
    font-size: 14px !important;
}